<div class="isolated pt-20 md:pt-8 flex h-full min-h-dvh w-dvw justify-center">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true">
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#3400ff] to-[#00ccff] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "></div>
  </div>
  <div class="container mx-auto ">
    <div
    class="flex flex-col w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
    <div class="py-6 px-6 sm:py-8 sm:px-8">
      <h2 class="text-3xl text-center lg:text-4xl mt-0">
        Create your personal account
      </h2>
      <p class="mt-8">
        Create your account and enjoy the benefits we offer
      </p>

    <form
      [formGroup]="registerPersonForm"
      (ngSubmit)="createPersonalAccount()"
      class="mt-4"
    >
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-5">
        <div>
          <label for="name" class="mb-1 block text-base font-medium text-dark">
            Username
          </label>
          <app-w-input
            controlKey="name"
            inputType="onlyText"
            error="Name is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label for="date" class="mb-1 block text-base font-medium text-dark">
            Surname
          </label>
          <app-w-input
            controlKey="surname"
            inputType="onlyText"
            error="Surname is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label for="taxId" class="mb-1 block text-base font-medium text-dark">
            Document Id
          </label>
          <app-w-input
            controlKey="taxId"
            inputType="onlyText"
            error="DocumentId is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>
        <div>
          <label for="date" class="mb-1 block text-base font-medium text-dark">
            Expiration Id
          </label>
          <app-w-input
            controlKey="nationalIdExpiration"
            inputType="date"
            error="Date is required"
            [required]="true"
          ></app-w-input>
        </div>

        <div>
          <label
            for="password"
            class="mb-1 block text-base font-medium text-dark"
          >
            Password
          </label>
          <app-w-input
            controlKey="password"
            inputType="password"
            error="Password is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="confirmPassword"
            class="mb-1 block text-base font-medium text-dark"
          >
            Confirm Password
          </label>
          <app-w-input
            controlKey="confirmPassword"
            inputType="password"
            error="Confirm Password is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div class="col-span-full">
          <label for="address" class="mb-1 text-base font-medium text-dark">
            Address
          </label>
          <app-w-input
            controlKey="address"
            inputType="textarea"
            error="Address is required"
            [required]="true"
            [minLength]="4"
            class="h-auto resize-none overflow-hidden"
          ></app-w-input>
        </div>

        <div>
          <label
            for="addressAdditionalInfo"
            class="mb-1 block text-base font-medium text-dark"
          >
            Address Additional Info
          </label>
          <app-w-input
            controlKey="addressAdditionalInfo"
            inputType="onlyText"
            error="Surname is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="postalCode"
            class="mb-1 block text-base font-medium text-dark"
          >
            Postal Code
          </label>
          <app-w-input
            controlKey="postalCode"
            inputType="onlyText"
            error="Postal Code is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="addressTown"
            class="mb-1 block text-base font-medium text-dark"
          >
            Address Town
          </label>
          <app-w-input
            controlKey="addressTown"
            inputType="onlyText"
            error="Address Town is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="addressCity"
            class="mb-1 block text-base font-medium text-dark"
          >
            Address City
          </label>
          <app-w-input
            controlKey="addressCity"
            inputType="onlyText"
            error="Address City is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="addressCountry"
            class="mb-1 block text-base font-medium text-dark"
          >
            Address Country
          </label>
          <app-w-input
            controlKey="addressCountry"
            inputType="onlyText"
            error="Address Country is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="nationality"
            class="mb-1 block text-base font-medium text-dark"
          >
            Nationality
          </label>
          <app-w-input
            controlKey="nationality"
            inputType="onlyText"
            error="Nationality is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label for="gender" class="mb-1 block text-base font-medium text-dark"
            >Gender</label
          >
          <app-w-input
            controlKey="gender"
            [required]="true"
            inputType="select"
          ></app-w-input>
        </div>
        <div>
          <label for="date" class="mb-1 block text-base font-medium text-dark">
            Birthday
          </label>
          <app-w-input
            controlKey="birthday"
            inputType="date"
            [required]="true"
          ></app-w-input>
        </div>
        <div>
          <label
            for="birthCity"
            class="mb-1 block text-base font-medium text-dark"
          >
            BirthCity
          </label>
          <app-w-input
            controlKey="birthCity"
            inputType="onlyText"
            error="BirthCity is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label
            for="phoneNumber"
            class="mb-1 block text-base font-medium text-dark"
          >
            Phone Number
          </label>
          <app-w-input
            controlKey="phoneNumber"
            inputType="phoneNumber"
            error="Phone Number is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label for="email" class="mb-1 block text-base font-medium text-dark">
            Email
          </label>
          <app-w-input
            controlKey="email"
            inputType="email"
            error="Email is required"
            [required]="true"
            [minLength]="4"
          ></app-w-input>
        </div>

        <div>
          <label for="debtType" class="mb-1 block text-base font-medium text-dark"
            >Occupation</label
          >
          <app-w-input
            inputType="occupations"
            [required]="true"
            controlKey="debtType"
          ></app-w-input>
        </div>
      </div>
      <div class="mt-10">
        <button
          [disabled]="registerPersonForm.invalid"
          type="submit"
          class="block w-full rounded-md bg-blue-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Create Account
        </button>
      </div>
    </form>
      </div>
      </div>
      <footer class="py-8 w-full">
        <span class="flex justify-center border-b border-gray-200 pb-3"></span>
        <p class="mt-3 text-center text-gray-600">© 2024 Banco de la peseta.</p>
      </footer>
    </div>
</div>
<div [routerLink]="['/register']"  class="fixed top-2 left-2 p-2">
  <a class="inline-block">
    <button class="focus:outline-none bg-blue-500 rounded-full w-10 h-10 flex items-center justify-center shadow-md">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
        <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
      </svg>
    </button>
  </a>
</div>


