<!-- component -->
<div class="flex h-screen w-screen">
    <!-- Left Pane -->
    <div class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 text-black">
      <div class="max-w-md text-center">
      </div>
    </div>
    <!-- Right Pane -->
    <div class="w-full lg:w-1/2 flex items-center justify-center bg-white">
      <div class="max-w-md w-full p-6">
        <h1 class="text-3xl font-semibold mb-6 text-black text-center">Login</h1>
        <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Banco de la Peseta</h1>
      
        <form action="#" method="POST" class="space-y-4">
          <!-- Your form elements go here -->
          <w-input class="border-0 p-0" type="text" decription="Username"/>
          <w-input class="border-0 p-0" type="password" decription="Password"/>
          <div>
            <button type="submit" class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300">Login</button>
          </div>
        </form>
        <div class="mt-4 text-sm text-gray-600 text-center">
          <p>You do not have an account? <a href="#" class="text-black hover:underline" [routerLink]="['/register']">Sign up here</a>
          </p>
        </div>
      </div>
    </div>
  </div>