<!-- component -->
<div class="flex h-screen w-screen">
  <!-- Left Pane -->
  <div
    class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 text-black"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/img/blp.png" alt="" />
    </div>
  </div>
  <!-- Right Pane -->
  <div class="w-full lg:w-1/2 flex items-center justify-center bg-white">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-black text-center">Login</h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
        Banco de la Peseta
      </h1>
      <form [formGroup]="loginForm" class="space-y-4">
        <!-- Your form elements go here -->
        <div>
          <input
            formControlName="username"
            class="form-control mt-1 p-3 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
            type="text"
          />
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="text-danger"
          >
            <div *ngIf="username.errors?.['required']">
              Username is required
            </div>
          </div>
        </div>
        <div>
          <input
            formControlName="password"
            class="mt-1 p-3 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
            type="password"
          />
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger">
          <div *ngIf="password.errors?.['required']">Password is required</div>
        </div>
        <div>
          <button
            (click)="login()"
            type="submit"
            class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
          >
            Login
          </button>
        </div>
      </form>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>
          You do not have an account?
          <a
            class="text-black hover:underline"
            [routerLink]="['/register']"
            >Sign up here</a
          >
        </p>
        <p>
          Did you lose your password?
          <a
            class="text-black hover:underline"
            [routerLink]="['/forgot-password']"
            >Get it here</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div (click)="show()">Hey</div> -->
