.navegacion{
  background-color: rgb(207, 207, 207);
}
.imgNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.navbarvertical{
  min-width: 15rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background: rgb(0,234,194);

  background: linear-gradient(-160deg, rgb(2, 199, 166) 0%, rgba(98,0,248,1) 100%); 
  color: white;

}
.navbar{
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
ul {
  list-style: none;
}
li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btnToggle{
  background: rgb(2, 199, 166);
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15rem;
  transition: all 0.4s;
}
.hidenNav {
  margin-left: -15rem;
}
.moveToggle{
  margin-left: 0rem;
}