<div class="isolated pt-8 flex h-screen w-screen justify-center">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true">
    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#3400ff] to-[#00ccff] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
  </div>
  <div class="max-w-screen-lg mx-auto">
    <a
      routerLink="/register"
      class="inline-flex cursor-pointer items-center justify-center px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto hover:bg-gray-100">
      <ion-icon
        class="w-6 h-6"
        aria-hidden="true"
        name="arrow-back-outline"></ion-icon>
      <span>Go back</span>
    </a>
    <div class="flex items-center flex-col align-middle">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Company sign up
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Register as company and enjoy the benefits we offer
      </p>
      <form
        name="form"
        class="mx-auto mt-0 max-w-xl sm:mt-10"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
        novalidate>
        <!-- START | TODO: Replace this code with a custom component. Temporary solution -->
        <div class="form-group">
          <label
            for="companyName"
            class="block text-sm font-semibold text-gray-900">
            Company's Name
          </label>
          <input
            name="companyName"
            placeholder="e. g. La Peseta Inc"
            type="text"
            autocomplete="given-name"
            [(ngModel)]="form.companyName"
            #companyName="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && companyName.errors }"
            class="mt-2 p-3 w-full border border-gray-300 rounded-md shadow-sm focus:border-[#17DCBF] focus:ring focus:ring-[#17DCBF] focus:ring-opacity-50 transition ease-in-out duration-150" />
          @if (f.submitted && companyName.errors) {
          <div class="text-red-500 mt-1 text-xs">
            @if (companyName.errors['required']) {
            <span>The company name field is required</span>
            }
          </div>
          }
        </div>
        <!-- END | TODO: Replace this code with a custom component. Temporary solution -->

        <!-- START | TODO: Replace this code with a custom component. Temporary solution -->
        <div class="form-group mt-2">
          <label for="email" class="block text-sm font-semibold text-gray-900">
            Email
          </label>
          <input
            name="email"
            placeholder="e.g. johnmarx@gmail.com"
            type="email"
            autocomplete="email"
            [(ngModel)]="form.email"
            #email="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            class="mt-2 p-3 w-full border border-gray-300 rounded-md shadow-sm focus:border-[#17DCBF] focus:ring focus:ring-[#17DCBF] focus:ring-opacity-50 transition ease-in-out duration-150" />
          @if (f.submitted && companyName.errors) {
          <div class="text-red-500">
            @if (companyName.errors['required']) {
            <small>The company name field is required</small>
            }
          </div>
          }
        </div>
        <!-- END | TODO: Replace this code with a custom component. Temporary solution -->

        <!-- START | TODO: Replace this code with a custom component. Temporary solution -->
        <div class="form-group mt-2">
          <label for="email" class="block text-sm font-semibold text-gray-900">
            Password
          </label>
          <input
            type="password"
            name="password"
            placeholder="••••••••"
            [(ngModel)]="form.password"
            required
            minlength="8"
            maxlength="40"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            class="mt-2 p-3 w-full border border-gray-300 rounded-md shadow-sm focus:border-[#17DCBF] focus:ring focus:ring-[#17DCBF] focus:ring-opacity-50 transition ease-in-out duration-150" />
          @if (f.submitted && password.errors) {
          <div class="text-red-500 mt-1 text-xs">
            @if (password.errors['required']) {
            <div>Password is required</div>
            } @if (password.errors['minlength']) {
            <div>Password must be at least 6 characters</div>
            } @if (password.errors['maxlength']) {
            <div>Username must not exceed 40 characters</div>
            }
          </div>
          }
        </div>
        <!-- END | TODO: Replace this code with a custom component. Temporary solution -->

        <div class="form-group mt-2 form-check">
          <input
            type="checkbox"
            name="acceptTerms"
            [(ngModel)]="form.acceptTerms"
            required
            #acceptTerms="ngModel"
            [ngClass]="{ 'border-red-500': f.submitted && acceptTerms.errors }"
            class="w-4 h-4 me-1 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" />
          <label for="acceptTerms" class="font-light text-sm text-gray-700">
            I have read and agree the <a href="#!">terms and conditions</a>.
          </label>
          @if (f.submitted && acceptTerms.errors) {
          <div class="text-red-500 text-xs">Accept Terms is required</div>
          }
        </div>

        <hr />

        <div class="form-group mt-4">
          <button
            type="submit"
            class="px-4 py-2 text-white bg-blue-500 rounded">
            Register
          </button>
          <button
            type="button"
            (click)="onReset(f)"
            class="px-4 py-2 text-white bg-yellow-500 rounded float-right">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
