<div class="isolate w-screen bg-white px-6 py-24 sm:py-10 lg:px-8">

  <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true">
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <button (click)="returnToHome()" type="button"
      class=" flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
      <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
      <span>Go back</span>
    </button>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Company Registration</h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">Register your company and enjoy the benefits we offer</p>
  </div>
  <form action="#" method="POST" class="mx-auto mt-0 max-w-xl sm:mt-10">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

      <w-input placeholder="Company Name" class="border-0 p-0 bg-transparent" decription="Company Name" type="text"
        name="name" id="name" />

      <w-input placeholder="Tax ID" class="border-0 p-0 bg-transparent" decription="Número fiscal" type="text"
        name="taxId" id="taxId" />

      <w-input placeholder="Enter Password" class="border-0 p-0 bg-transparent" decription="Password" type="password"
        name="password" id="password" />
      <w-input placeholder="example@mail.com" class="border-0 p-0 bg-transparent" decription="Corporative Email"
        type="text" name="email" id="email" />

      <w-input placeholder="Fisical Address" class="border-0 p-0 bg-transparent" decription="Company Address"
        type="text" name="address" id="address" />

      <w-input placeholder="Additional Address " class="border-0 p-0 bg-transparent" decription="Additional Infomation"
        type="text" name="addressAdditionalInfo" id="addressAdditionalInfo" />
      <div class="sm:col-span-2">
        <label for="country" class="block text-sm font-semibold leading-6 text-gray-900">Country</label>
        <div class="mt-2">
          <select id="country" name="country" autocomplete="country-name"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
            <option disabled selected hidden>Select Country</option>
            <option>España</option>
            <option>United States</option>
            <option>Canada</option>
            <option>Mexico</option>
          </select>
        </div>
      </div>

      <w-input placeholder="Town" class="border-0 p-0 bg-transparent" decription="Town" type="text" name="addressTown"
        id="addressTown" />

      <w-input placeholder="City" class="border-0 p-0 bg-transparent" decription="City" type="text" name="addressCity"
        id="addressCity" />

      <w-input placeholder="XXX" class="border-0 p-0 bg-transparent" decription="Postal Code" type="text"
        name="postalCode" id="postalCode" />
        
      <div class="sm:col-span-2">
        <label for="phone-number" class="block text-sm font-semibold leading-6 text-green-600">Phone number</label>
        <div class="relative mt-2.5">
          <div class="absolute inset-y-0 left-0 flex items-center">
            <label for="numbercountry" class="sr-only">Country</label>
            <select id="numbercountry" name="country"
              class="h-full rounded-md border-0 bg-transparent bg-none py-0 pl-4 pr-9 text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <option>US</option>
              <option>CA</option>
              <option>EU</option>
              <option>UK</option>
              <option>YE</option>
              <option>MA</option>
              <option>ES</option>
            </select>
            <svg class="pointer-events-none absolute right-3 top-0 h-full w-5 text-gray-400" viewBox="0 0 20 20"
              fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <input placeholder="XXX-XXXX" type="tel" name="phone-number" id="phone-number" autocomplete="tel"
            class="block w-full rounded-md border-0 px-3.5 py-2 pl-20 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <input type="hidden" name="type" value="COMPANY" />

    </div>
    <div class="mt-10">
      <button type="submit"
        class="block w-full rounded-md bg-cyan-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Register Company</button>
    </div>
  </form>
</div>