<div class="w-full min-h-56 h-full  border rounded-md overflow-hidden shadow-md transform transition-all hover:shadow-xl">
  <div class="px-6 py-2 header flex justify-between border-b border-gray-300 bg-gray-100">
    <span class="font-bold text-xl">{{ 'dashboard.balance' | translate }}</span>
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </button>
  </div>
  <div class="flex flex-col items-center px-6 pt-4">
    <ngx-charts-line-chart
      [view]="view"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
</div>
