<div class="flex h-full min-h-dvh w-dvw">
  <div
  class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-cyan-500 to-blue-500"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/images/logos/blp.webp" alt="" />
    </div>
  </div>
  <div class="w-full lg:w-1/2 flex flex-col items-center justify-center bg-white">
    <div class="max-w-md w-full">
      <img src="../../../../assets/images/logos/logoBancoBlue.svg" alt="logoBanco" width="100px" class="m-auto">
      <h1
        class="text-2xl tracking-widest font-bold uppercase text-dark text-center mb-6"
      >
        Password Recovery Change
      </h1>
      <form [formGroup]="passwordChange" (ngSubmit)="onSendNewPassword()" class="flex flex-col space-y-6">
          <app-w-input
            controlKey="newPass"
            inputType="onlyText"
            placeholder="New Password"
          ></app-w-input>
          <app-w-input
            controlKey="newPassRewrite"
            inputType="onlyText"
            placeholder="Confirm New Password"
          ></app-w-input>
        <button
          type="button"
          type="submit"
          class="w-full mt-5 bg-blue-500 text-white p-4 rounded-md hover:bg-dark focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
        >
          Password Recovery Change
        </button>
      </form>
    </div>
    <button
      class="text-dark hover:underline mt-8 cursor-pointer font-bold"
      [routerLink]="['/validate-codes']"
    >
      Get Back
    </button>
  </div>
</div>
