<div class="flex h-full min-h-dvh w-dvw">
  <div
    class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-cyan-500 to-blue-500"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/images/logos/blp.webp" alt="" />
    </div>
  </div>

  <!-- Right Panel -->
  <div
    class="hidden lg:flex w-full lg:w-1/2 flex-col items-center justify-center bg-white"
  >
    <div class="max-w-md w-full p-6">
      <img
        src="../../../../assets/images/logos/logoBancoBlue.svg"
        alt="logoBanco"
        width="100px"
        class="m-auto"
      />
      <h1
        class="text-2xl tracking-widest font-bold uppercase text-dark text-center mb-6"
      >
        Password Recovery Change
      </h1>
      <form [formGroup]="passwordChange" (ngSubmit)="onSendNewPassword()" class="flex flex-col space-y-6">
          <app-w-input
            controlKey="newPass"
            inputType="onlyText"
            placeholder="New Password"
            [required]="true"
            error="New password is required"
          ></app-w-input>
          <app-w-input
            controlKey="newPassRewrite"
            inputType="onlyText"
            placeholder="Confirm New Password"
            [required]="true"
            error="Confirm new password"
          ></app-w-input>
        <button
          type="button"
          type="submit"
          [disabled]="!passwordChange.valid"
          [ngClass]="{'hover:bg-dark hover:cursor-pointer': passwordChange.valid}"
          class="w-full mt-5 bg-blue-500 text-white p-4 rounded-md transition-colors duration-300"
        >
          Password Recovery Change
        </button>
      </form>
    </div>
    <button
      class="text-dark hover:underline mt-8 cursor-pointer font-bold"
      [routerLink]="['/login']"
    >
      Get Back
    </button>
  </div>

  <!-- Mobile Panel -->
  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center bg-gradient-to-l from-cyan-500 to-blue-500 lg:hidden"
  >
    <img
      src="../../../../assets/images/logos/logoBancoWhite.svg"
      alt="logoBanco"
      width="100px"
      class="mt-4"
    />
    <h1
      class="text-2xl tracking-widest font-bold uppercase text-white text-center mb-6"
    >
      Password Recovery Change
    </h1>
    <div
      class="w-full h-full md:w-3/4 md:h-full md:rounded-3xl bg-white flex flex-col items-center rounded-t-3xl pb-4 md:mb-8"
    >
      <div class="max-w-md w-full p-6">
        <h2 class="text-2xl text-dark text-center mb-6">Enter the new passwords</h2>
        <form [formGroup]="passwordChange" class="flex flex-col space-y-6">
          <app-w-input
            controlKey="phone"
            inputType="onlyText"
            placeholder="New Password"
          ></app-w-input>
          <app-w-input
            controlKey="email"
            inputType="onlyText"
            placeholder="Confirm New Password"
          ></app-w-input>
          <button
            type="button"
            class="w-full mt-5 bg-blue-500 text-white p-4 rounded-md hover:bg-dark focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
          >
            Password Recovery Change
          </button>
        </form>
      </div>
      <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button size="small" color="light" [routerLink]="['/validate-codes']">
          <ion-icon color="dark" name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</div>
