<a
  [routerLink]="routerLink"
  [routerLinkActive]="'active'"
  [routerLinkActiveOptions]="{ exact: true }"
  #rla="routerLinkActive"
  class="w-full inline-flex space-x-2 items-center py-3 hover:bg-primary-dark transition ease-linear duration-150  pl-3  "
  [ngClass]="{
    'bg-primary-dark border-l-4 border-primary-light': rla.isActive,
    'py-0 p-0': rla.isActive && !isSidebarOpen
  }"
>
  <div>
    <ion-icon
      [src]="'/assets/icons/sidebar/' + iconFinalName"
      size="large"
      class="px-2"
      [ngClass]="{ 'active': rla.isActive }"
    ></ion-icon>
  </div>
  <div class="flex flex-col">
    <span
      class="text-lg font-bold leading-5 text-primary-light"
      [ngClass]="{
        '': rla.isActive && isSidebarOpen,
        '': !rla.isActive || !isSidebarOpen,
        hidden: !isSidebarOpen || (rla.isActive && !isSidebarOpen)
      }"
    >
      {{ nombreRuta | translate }}
    </span>
  </div>
</a>
