<div class="flex flex-col px-6 pt-2 gap-1 h-64 border border-slate-300 shadow-lg shadow-slate-300/50 rounded-md w-full">

  <div style="grid-template-columns: 2fr 0.5fr 1.5fr 1fr; grid-template-rows: repeat(1, 0.5fr)" class="grid px-2 grid-flow-row">
    <div style="grid-column-start: 3;"><p class="text-xs text-center">Gastado este mes</p></div>
  </div>

  <div class="flex flex-col gap-2">
    @for(item of data.cards; track item.id){
      <div style="grid-template-columns: 2fr 0.5fr 1.5fr 1fr" class="grid px-2">

        <div class="flex">
          <img class="px-1 w-7" src="assets/images/cards/mastercard.svg">
          <div class="text-[0.7rem] self-center">Tarjeta de {{item.cardType === "DEBIT" ? "Débito" : "Crédito"}}</div>
        </div>
        <div class="text-xs"></div>
        <div class="text-sm"></div>
        <div class="text-sm text-right"></div>

        <div class="text-sm font-medium self-center">{{item.number}}</div>
        <div class="text-sm text-right self-center">{{item.expiration}}</div>
        <div class="text-xs text-center self-center">{{(item.spendCurrentMonth * rate).toFixed(2)}}</div>
        <div class="text-[0.7rem] text-right font-medium self-center">{{((item.cashierLimit * rate).toFixed(2)) + ' $'}}</div>

      </div>
    }
  </div>
</div>
