<div class="flex flex-col gap-1 border border-gray-300 rounded-md w-full h-64 overflow-auto">

  <!-- Encabezado -->
  <div class="flex justify-between px-2 border-b border-gray-300 bg-gray-100">
    <span class="font-bold text-xl py-2">Mis tarjetas</span>
  </div>

  <!-- Contenido iterado -->
  <div class="flex flex-col gap-2 px-6 md:px-1">
    @for(item of data.cards; track item.id){
      <div class="flex items-center justify-between px-2 border-b border-gray-300">
        <div class="flex items-center">
          <img class="w-7 mr-1" src="assets/images/cards/mastercard.svg" alt="Mastercard">
          <div class="text-sm">{{ item.cardType === 'DEBIT' ? 'Tarjeta de Débito' : 'Tarjeta de Crédito' }}</div>
        </div>
        <div class="text-sm"></div>
        <div class="text-sm text-right">{{ item.number }}</div>
        <div class="text-sm text-right">{{ item.expiration }}</div>
        <div class="text-sm text-right">{{ (item.spendCurrentMonth * rate).toFixed(2) }}</div>
        <div class="text-sm text-right">{{ (item.cashierLimit * rate).toFixed(2) }} $</div>
      </div>
    }
  </div>
</div>
