
  <div class="flex justify-between">
    <w-total-balance></w-total-balance>
  </div>
  <div class="flex justify-between">
    <w-card-filter-tabs (tabChange)="filterCards($event)"></w-card-filter-tabs>
    <div class="flex items-center">
      <button [routerLink]="['add-card']" class="flex items-center text-sm border border-primary-dark rounded-full px-4 py-2">
        <img src="assets/add-button.svg" alt="add icon" class="w-5 mr-1" />
        <p>{{ 'cards.btnAdd' | translate }}</p>
      </button>
    </div>
  </div>

  <div class="hidden lg:flex justify-start items-center gap-8 mt-3 h-full">
    <ng-container *ngFor="let card of filteredCardDataList">

      <w-individual-card [card]="card"></w-individual-card>
    </ng-container>
  </div>

  <div class="lg:hidden flex flex-col items-center gap-8 mt-3 h-full">
    <ng-container *ngFor="let card of filteredCardDataList">
      <w-individual-card [card]="card"></w-individual-card>
    </ng-container>
  </div>
