<div class="w-full h-40 m-2 p-5">
  <div class=" flex items-end text-4xl w-full h-2/4">
    <p>121522 $</p>
  </div>
  <div class="flex w-full h-2/4 space-x-96 mt-1">
    <p>
      {{'cards.total.balance' | translate }}
    </p>
    <button class="flex bg-white text-sm border border-black rounded-full">
      <img src="assets/add-button.svg" alt="add icon" class="w-5 mr-1">
      <p>{{'cards.add'| translate}}</p>
    </button>
  </div>
</div>
<div class="w-full h-40 m-3">
<app-w-individual-card> </app-w-individual-card>
<app-w-individual-card> </app-w-individual-card>
<app-w-individual-card> </app-w-individual-card>

</div>