<!-- TODO: Redundant code should be replaced with a custom component. This code solution might be temporary -->
<div class="isolated pt-8 flex h-screen w-screen justify-center">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true">
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#3400ff] to-[#00ccff] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "></div>
  </div>
  <div class="max-w-screen-lg mx-auto">
    <div class="card">
      <a
        routerLink="/register"
        class="inline-flex cursor-pointer items-center justify-center px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto hover:bg-gray-100">
        <ion-icon
          class="w-6 h-6"
          aria-hidden="true"
          name="arrow-back-outline"></ion-icon>
        <span>Go back</span>
      </a>
      <div class="flex items-center flex-col align-middle">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Company sign up
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">
          Register as company and enjoy the benefits we offer
        </p>
  
        <form
          [formGroup]="registrationForm"
          class="mt-4"
          (ngSubmit)="signup()">
          <!-- START | Company's Name field -->
          <div class="form-group mt-2">
            <label
              for="companyName"
              class="block text-sm font-semibold text-gray-900">
              Company's Name
            </label>
            <app-w-input
              controlKey="companyName"
              inputType="onlyText"
              error="You must enter a company name"
              [required]="true" />
          </div>
          <!-- END | Company's Name field -->
          
          <!-- START | Tax ID field -->
          <div class="form-group mt-2">
            <label for="taxId" class="block text-sm font-semibold text-gray-900">
              Tax ID
            </label>
            <app-w-input
              controlKey="taxId"
              inputType="onlyText"
              [required]="true"
              error="You must enter a tax ID"
            />
          </div>
          <!-- END | Tax ID field -->
  
          <!-- START | Address Country Field -->
          <div class="form-group mt-2">
            <label
              for="addressCountry"
              class="block text-sm font-semibold text-gray-900">
              Country
            </label>
            <select
              id="addressCountry"
              name="addressCountry"
              class="mt-2 p-3 w-full border border-gray-300 rounded-md shadow-sm focus:border-gray-500 focus:ring focus:ring-gray-500 focus:ring-opacity-50 transition ease-in-out duration-150"
              required>
              <option value="" disabled>Select your country</option>
              <option value="Spain">Spain</option>
              <option value="United States">United States</option>
              <option value="Argentina">Argentina</option>
              <option value="Belize">Belize</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brazil">Brazil</option>
              <option value="Canada">Canada</option>
              <option value="Chile">Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cuba">Cuba</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Haiti">Haiti</option>
              <option value="Honduras">Honduras</option>
              <option value="Mexico">Mexico</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Panama">Panama</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Venezuela">Venezuela</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <!-- END | Address Country Field -->
  
          <!-- START | Postal Code Field -->
          <div class="form-group mt-2">
            <label
              for="postalCode"
              class="block text-sm font-semibold text-gray-900">
              Postal Code
            </label>
            <app-w-input
              controlKey="postalCode"
              inputType="onlyText"
              error="You must enter a postal code"
              [required]="true"
            />
          </div>
          <!-- END | Postal Code Field -->
  
          <!-- START | Address City Field -->
          <div class="form-group mt-2">
            <label
              for="addressCity"
              class="block text-sm font-semibold text-gray-900">
              City
            </label>
            <app-w-input
              controlKey="addressCity"
              inputType="onlyText"
              error="You must enter a city name"
              [required]="true"
            />
          </div>
          <!-- END | Address City Field -->
  
          <!-- START | Address Town Field -->
          <div class="form-group mt-2">
            <label
              for="addressTown"
              class="block text-sm font-semibold text-gray-900">
              Town
            </label>
            <app-w-input
              controlKey="addressTown"
              inputType="onlyText"
              error="You must enter a town name"
              [required]="true"
            />
          </div>
          <!-- END | Address Town Field -->
  
          <!-- START | Address Field -->
          <div class="form-group mt-2">
            <label
              for="address"
              class="block text-sm font-semibold text-gray-900">
              Address
            </label>
            <app-w-input
              controlKey="address"
              inputType="onlyText"
              error="You must enter an address"
              [required]="true"
            />
          </div>
          <!-- END | Address Field -->
  
          <!-- START | Address Additional Info Field -->
          <div class="form-group mt-2">
            <label
              for="addressAdditionalInfo"
              class="block text-sm font-semibold text-gray-900">
              Additional Address Info
            </label>
            <app-w-input
              controlKey="addressAdditionalInfo"
              inputType="onlyText"
              [required]="true"
              error="You must enter an additional address info"
            />
          </div>
          <!-- END | Address Additional Info Field -->
  
          <!-- START | Phone Number Field -->
          <div class="form-group mt-2">
            <label
              for="phoneNumber"
              class="block text-sm font-semibold text-gray-900">
              Phone Number
            </label>
            <!-- pattern="\\+?\\d{1,3}?[-.\\s]?\\(?\\d{1,3}?\\)?[-.\\s]?\\d{1,3}[-.\\s]?\\d{1,4}([-.\\s]?\\d{1,4})?" -->
            <app-w-input
              controlKey="phoneNumber"
              inputType="textPattern"
              pattern="/d+/g"
              error="You must enter a valid phone number"
              [required]="true"
            />
          </div>
          <!-- END | Phone Number Field -->
  
          <!-- START | Email field -->
          <div class="form-group mt-2">
            <label for="email" class="block text-sm font-semibold text-gray-900">
              Email
            </label>
            <app-w-input
              controlKey="email"
              inputType="email"
              error="You must enter a valid email"
              [required]="true"
            />
          </div>
          <!-- END | Email field -->
  
          <!-- START | Password field -->
          <div class="form-group mt-2">
            <label for="email" class="block text-sm font-semibold text-gray-900">
              Password
            </label>
            <app-w-input
              controlKey="password"
              inputType="textPattern"
              pattern="/d+/g"
              error="Your password does not meet security requirements"
              [required]="true"
            />
          </div>
          <!-- END | Password field -->
  
          <!-- START | Confirm Password field -->
          <div class="form-group mt-2">
            <label
              for="confirmPassword"
              class="block text-sm font-semibold text-gray-900">
              Confirm Password
            </label>
            <app-w-input
              controlKey="confirmPassword"
              inputType="onlyText"
              error="You must confirm your password"
              [required]="true" />
          </div>
          <!-- END | Confirm Password field -->
  
          <!-- START | Accept terms field -->
          <div class="form-group mt-2 form-check">
            <input
              type="checkbox"
              name="acceptTerms"
              required
              class="w-4 h-4 me-1 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" />
            <label for="acceptTerms" class="font-light text-sm text-gray-700">
              I have read and agree the <a href="#!">terms and conditions</a>.
            </label>
          </div>
          <!-- END | Accept terms field -->
  
          <hr />
  
          <div class="form-group mt-4">
            <button
              [disabled]="registrationForm.invalid"
              class="flex text-center items-center bg-blue-600 text-white font-medium mb-6 py-2 px-4 rounded mt-6 hover:bg-blue-800 hover:cursor-pointer">
              <span>Signup</span>
              <!-- <ion-icon class="w-6 h-6 ms-2" aria-hidden="true" name="checkmark-outline"></ion-icon> -->
            </button>
            <!-- <button
              [disabled]="registrationForm.invalid"
              type="submit"
              class="px-4 py-2 text-white bg-blue-500 rounded">
              Register
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
