<div class="block text-sm font-medium text-black">
  <label for="first-name" class="block text-sm font-bold text-black mb-3">{{ decription() }}</label>
  <div class="mt-2.5 relative">
    <input
      formControlName="{{formControlName()}}"
      type="{{ type() }}"
      name="{{ name() }}"
      id="{{ id() }}"
      autocomplete="given-name"
      class="mt-1 p-3 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
    />
    <ion-icon
      [src]="iconSrc"
      size="small"
      class="absolute right-4 top-1/2 transform -translate-y-1/2 px-2 text-sm"
    ></ion-icon>
  </div>
</div>
