<div
  class="row flex flex-col w-screen h-screen align-content-center justify-content-center gap-3 text-center"
>
  <div>
    <img src="../../assets/bancoP.png" width="100px" alt="" class="mt-2" />
  </div>
  <h3 class="">Creat your account</h3>

  <div class="flex md:flex-row justify-center gap-3">
    <div
      class="bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 rounded-2xl h-[200px] w-[300px] flex flex-col items-center justify-end"
    >
      <div class="flex flex-row">
        <a class="text-white" [routerLink]="['/company-registration']">Create company account</a>
      </div>
    </div>

    <div class="flex md:flex-row justify-items-center">
      <div
        class="bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 rounded-2xl h-[200px] w-[300px] flex flex-col items-center justify-end"
      >
        <div class="flex flex-row">
          <a class="text-white" [routerLink]="['/personal-account']"
            >Create personal account</a
          >
        </div>
      </div>
    </div>

  </div>
  <div class="flex flex-col gap-2">
    <span class="text-secondary">Are you already a customer?</span>
    <button [routerLink]="['/login']" class="button-login p-0 btn px-3">
      Login
    </button>
  </div>
</div>
