<div
  class="row flex flex-col w-screen h-screen align-content-center justify-content-center gap-2 text-center"
>
  <div>
    <img src="../../assets/bancoP.png" width="100px" alt="" class="mt-2" />
  </div>
  <h3 class="text-3xl font-bold">Create your account</h3>

  <div class="flex md:flex-row justify-center gap-3 flex-wrap">
    <div
      class="bg-gradient-to-r from-indigo-400 to-cyan-400 rounded-2xl h-[200px] w-[300px] flex flex-col items-center justify-end shadow-sm hover:shadow-xl transition-all cursor-pointer"  [routerLink]="['/company-registration']"
    >
      <div class="flex flex-col items-center justify-around h-full">
        <img
          src="../../../../assets/images/register/enterprise.svg"
          width="130px"
          alt=""
        />
        <a class="text-white font-bold"
          >Create company account</a
        >
      </div>
    </div>

    <div
      class="bg-gradient-to-r from-indigo-400 to-cyan-400 rounded-2xl h-[200px] w-[300px] flex flex-col items-center justify-end shadow-sm hover:shadow-xl transition-all cursor-pointer" [routerLink]="['/personal-account']"
    >
      <div class="flex flex-col items-center justify-around h-full ">
        <img
          src="../../../../assets/images/register/person.svg"
          width="130px"
          alt=""
        />
        <a class="text-white font-bold"
          >Create personal account</a
        >
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center gap-2 sm:mt-5">
    <span class="text-secondary">Are you already a customer?</span>
    <button
    [routerLink]="['/login']"
    class="btn overflow-hidden relative w-30 bg-gradient-to-br from-blue-300 via-blue-500 to-indigo-400 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-1/2 before:rounded-full before:bg-blue-400 before:top-0 before:left-1/4 before:transition-transform before:opacity-0 before:hover:opacity-100 hover:text-white-200 hover:before:animate-ping transition-all duration-200"
  >
    Login
  </button>
  </div>
</div>
