<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-3">
  <div class="w-full mb-3 lg:mb-0">
    <div
      class="border text-card-foreground bg-white shadow-lg rounded-lg max-w-[800px]">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 py-2">
        <div class="flex items-center space-x-4">
          <div class="flex space-y-0.5">
            <h3 class="whitespace-nowrap tracking-tight text-lg font-semibold">
              Loan #1
            </h3>
          </div>
          <div
            class="inline-flex items-center whitespace-nowrap border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent ml-auto rounded-lg bg-primary text-white">
            Active
          </div>
          <div
            class="inline-flex items-center whitespace-nowrap border px-2.5 py-0.5 w-fit text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 border-orange-500 rounded-lg bg-transparent text-orange-500">
            Payment is required
          </div>
        </div>
      </div>
      <div class="p-6 pt-0">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="space-y-2">
            <div class="flex items-center space-x-2">
              <div>Next payment</div>
              <div class="text-lg font-semibold">$700.00 USD</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Pay before</div>
              <div>2024-04-03</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>You have paid</div>
              <div>3/12 monthly payments</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Total due amount as today</div>
              <div class="text-black">$6,300.00 USD</div>
            </div>
          </div>
          <div class="space-y-2">
            <div class="flex items-center space-x-2">
              <div>Total paid amount</div>
              <div>$2,100.00 USD</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Loan requested amount</div>
              <div>$8,000.00 USD</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Loan requested date</div>
              <div class="ml-auto">2024-01-01</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Interest rate</div>
              <div>5%</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Total amount with interest</div>
              <div>$8,400.00 USD</div>
            </div>
            <div class="flex items-center space-x-2">
              <div>Loan limit payment date</div>
              <div class="ml-auto">2025-01-01</div>
            </div>
            <div class="flex items-center space-x-2 italic">
              <div>Currency</div>
              <div>USD</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
