<div class="w-full flex flex-col h-64 border border-gray-300 rounded-md">
  <div class="px-6 py-2 header flex justify-between border-b border-gray-300 bg-gray-100">
    <span class="font-bold text-xl">Préstamos</span>
    <button [routerLink]="['../loans']"  >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </button>
  </div>
  <div class="h-56 flex flex-col px-6 pt-4">
    <div class="text-sm text-gray-800 mb-2">Préstamo A001</div>
    <div class="text-sm text-gray-800">Préstamo A002</div>
  </div>
</div>
