<div class="flex h-full min-h-dvh w-dvw">
  <div
    class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-cyan-500 to-blue-500"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/images/logos/blp.webp" alt="" />
    </div>
  </div>

  <!-- Right Panel -->
  <div
    class="hidden lg:flex w-full lg:w-1/2 flex-col items-center justify-center bg-white pb-8"
  >
    <div class="max-w-md w-full p-6">
      <img
        src="../../../../assets/images/logos/logoBancoBlue.svg"
        alt="logoBanco"
        width="100px"
        class="m-auto"
      />
      <h1
        class="text-2xl tracking-widest font-bold uppercase text-dark text-center mb-6"
      >
        Forgot Password ?
      </h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-400 text-justify">
        "Enter your registration details below. You will receive a verification
        code on the linked email and phone number to reset your password in a
        few minutes."
      </h1>
      <form
        [formGroup]="forgotPass"
        (ngSubmit)="onForgotPass()"
        class="space-y-6"
      >
        <div class="flex flex-col gap-y-6">
          <div class="flex flex-col gap-y-2 text-dark">
            <label for="type">Type</label>
            <app-w-input controlKey="type" inputType="onlyText"></app-w-input>
          </div>
          <div class="flex flex-col gap-y-2 text-dark">
            <label for="taxId">Tax or Document Id</label>
            <app-w-input controlKey="taxId" inputType="email"></app-w-input>
          </div>
          <div class="flex flex-col gap-y-2 text-dark">
            <label for="National Id Expiration">National Id Expiration</label>
            <app-w-input
              controlKey="nationalIdExpiration"
              inputType="date"
            ></app-w-input>
          </div>
          <div class="flex flex-col gap-y-2 text-dark">
            <label for="phone">Phone Number</label>
            <app-w-input
              controlKey="phone"
              inputType="phoneNumber"
            ></app-w-input>
          </div>
          <div class="flex flex-col gap-y-2 text-dark">
            <label for="birthday">Birthday</label>
            <app-w-input controlKey="birthday" inputType="date"></app-w-input>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="w-full mt-5 bg-blue-500 text-white p-4 rounded-md hover:bg-dark focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
          >
            Start Recovery
          </button>
        </div>
      </form>
    </div>
    <div class="mt-10 text-sm text-gray-600 text-center">
      <p>
        You don't have an account?
        <a
          href="#"
          class="text-black hover:underline"
          [routerLink]="['/register']"
          >Create an Account</a
        >
      </p>
    </div>
    <a
      class="text-dark hover:underline mt-8 cursor-pointer font-bold"
      [routerLink]="['/login']"
      >Go to Login</a
    >
  </div>

  <!-- Mobile Panel -->
  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center bg-gradient-to-l from-cyan-500 to-blue-500 lg:hidden"
  >
    <img
      src="../../../../assets/images/logos/logoBancoWhite.svg"
      alt="logoBanco"
      width="100px"
      class="mt-4"
    />
    <h1
      class="text-xl tracking-widest font-bold uppercase text-white text-center mb-4"
    >
      Forgot Password ?
    </h1>
    <div
      class="w-full h-full md:w-3/4 md:h-full md:rounded-3xl bg-white flex flex-col items-center rounded-t-3xl pb-4 md:mb-2"
    >
      <div class="max-w-md w-full p-8 mt-2">
        <h1 class="text-sm font-semibold mb-6 text-gray-400 text-justify">
          "Enter your registration details below. You will receive a
          verification code on the linked email and phone number to reset your
          password in a few minutes."
        </h1>
        <form
          [formGroup]="forgotPass"
          (ngSubmit)="onForgotPass()"
          class="space-y-6"
        >
          <div class="flex flex-col gap-y-6">
            <div class="flex flex-col gap-y-2 text-dark">
              <label for="type">Type</label>
              <app-w-input controlKey="type" inputType="onlyText"></app-w-input>
            </div>
            <div class="flex flex-col gap-y-2 text-dark">
              <label for="taxId">Tax or Document Id</label>
              <app-w-input controlKey="taxId" inputType="email"></app-w-input>
            </div>
            <div class="flex flex-col gap-y-2 text-dark">
              <label for="National Id Expiration">National Id Expiration</label>
              <app-w-input
                controlKey="nationalIdExpiration"
                inputType="date"
              ></app-w-input>
            </div>
            <div class="flex flex-col gap-y-2 text-dark">
              <label for="phone">Phone Number</label>
              <app-w-input
                controlKey="phone"
                inputType="phoneNumber"
              ></app-w-input>
            </div>
            <div class="flex flex-col gap-y-2 text-dark">
              <label for="birthday">Birthday</label>
              <app-w-input controlKey="birthday" inputType="date"></app-w-input>
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="w-full mt-5 bg-blue-500 text-white p-4 rounded-md hover:bg-dark focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
            >
              Start Recovery
            </button>
          </div>
        </form>

        <div class="mt-10 text-base text-gray-600 text-center">
          <p>
            You don't have an account?
            <a
              href="#"
              class="text-black hover:underline"
              [routerLink]="['/register']"
              >Create an Account</a
            >
          </p>
          <div class="fixed top-0 left-0 p-3" [routerLink]="['/login']">
            <button
            mat-mini-fab
              color="white"
              aria-label="Example icon button with a delete icon"
            >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
            </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
