<div class="max-w-xl m-auto mt-5 animate-fade-up">
  <form [formGroup]="formTransfer" class="md:text-base text-sm/[17px]">

    <div class="flex flex-row gap-2">
      <div>
        <label for="beneficiaryName">Beneficiary Name</label>
        <app-w-input controlKey="beneficiaryName" inputType="onlyText" [required]="true" error="Beneficiary name is required" [minLength]="4" ></app-w-input>
      </div>
      <div>
        <label for="destinationAccount" class="">Destination Account</label>
        <app-w-input controlKey="destinationAccount" inputType="onlyText" [required]="true" error="Destination Account is required" [maxLength]="20"></app-w-input>
      </div>
    </div>

    <div class="flex flex-row gap-2">
      <div>
        <label for="">Payer Name</label>
        <app-w-input controlKey="payerName" inputType="onlyText" [required]="true" error="Payer name is required" [minLength]="4"></app-w-input>
      </div>
      <div>
        <label for="">Source Account</label>
        <app-w-input controlKey="payerAccount" inputType="onlyText" [required]="true" error="Source Account" [maxLength]="20"></app-w-input>
      </div>
    </div>


    <label for="">Concept</label>
    <app-w-input controlKey="concept" inputType="onlyText"></app-w-input>

    <label for="">Description</label>
    <app-w-input controlKey="description" inputType="onlyText"></app-w-input>

    <div class="flex flex-row gap-2">
      <div>
        <label for="">Amount</label>
        <app-w-input controlKey="amount" inputType="onlyNumber" [required]="true" error="Amount is required" [minLength]="1"></app-w-input>
      </div>
      <div>
        <label for="">Currency</label>
        <app-w-input controlKey="currency" inputType="onlyText" [required]="true" error="Currency is required"></app-w-input>
      </div>
    </div>


    <div class="flex flex-row gap-3 justify-end mt-3 border-b-2 pb-2">
      <button routerLink=".." type="button"
        class="text-blue-600  py-3 px-2 rounded-3xl hover:bg-slate-300 ">Cancel</button>

      <button [disabled]="formTransfer.invalid" (click)="verifyData()" type="button"
        class="bg-blue-600 text-white py-3 px-2 rounded-3xl ">Transfer</button>
    </div>
  </form>
</div>