.main {
    border-radius: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.btn {
    border-radius: 20px;
}

.main:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}