<div class="main row col-4 mt-2 m-auto">
    <div class="text-center text-primary mb-2 mt-2">
        <h3>Crea tu cuenta personal</h3>
    </div>
    <form>
        <div class="row mb-2">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form6Example1" class="form-control" placeholder="Nombre" />
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form6Example2" class="form-control" placeholder="Apellido" />
                </div>
            </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-2">
            <input type="text" id="form6Example4" class="form-control" placeholder="Dirección" />
        </div>
        <div class="row mb-2">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="city" class="form-control" placeholder="Ciudad" />
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="country" class="form-control" placeholder="País" />
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="bithday" class="form-control" placeholder="F Nacimiento" />
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="genero" class="form-control" placeholder="Genero" />
                </div>
            </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-2">
            <input type="email" id="form6Example5" class="form-control" placeholder="Email" />
        </div>


        <div data-mdb-input-init class="form-outline mb-2">
            <input type="number" id="form6Example6" class="form-control" placeholder="Phone" />
        </div>

        <div class="form-check d-flex justify-content-center mb-2">
            <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
            <label class="form-check-label" for="form6Example8"> Create an account? </label>
        </div>

        <div class="d-flex justify-content-center">
            <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Crear Cuenta</button>
        </div>
        <div class="text-center text-secondary m-2 d-flex align-content-center align-items-center justify-content-center"
            style="cursor: pointer;" routerLink="/account-selection">
            <span class="material-icons">keyboard_backspace</span>
            <span>Back</span>

        </div>
    </form>
</div>