@if(inputType === "digitCode"){
  <input (keypress)="onDigitInput($event)" class="digit" type="numb" [formControlName]="controlKey"/>
}

@if(inputType === "onlyText"){
  <input class="input" type="text" [formControlName]="controlKey"/>
  <div *ngIf="parentFormGroup.get(controlKey)?.errors?.['required'] && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    {{error}}
  </div>
  <div *ngIf="parentFormGroup.get(controlKey)?.hasError('minlength') && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    El texto debe tener al menos {{ minLength }} caracteres.
  </div>
  <div *ngIf="parentFormGroup.get(controlKey)?.hasError('maxlength') && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    El texto no debe exceder los {{ maxLength }} caracteres.
  </div>
}

@if(inputType === "password"){
  <input class="input" type="password" [formControlName]="controlKey"/>
  <div *ngIf="parentFormGroup.get(controlKey)?.errors?.['required'] && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    {{error}}
  </div>
}

@if(inputType === "email"){
  <input class="input" type="email" [formControlName]="controlKey"/>
  <div *ngIf="parentFormGroup.get(controlKey)?.hasError('email') && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    {{error}}
  </div>
}

@if(inputType === "textPattern"){
  <input class="input" type="text" [formControlName]="controlKey"/>
  <div *ngIf="parentFormGroup.get(controlKey)?.hasError('pattern') && (parentFormGroup.get(controlKey)?.dirty || parentFormGroup.get(controlKey)?.touched)">
    {{error}}
  </div>
}
