<div class="flex flex-wrap">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer border border-gray-200 shadow-md">
        <a
          class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal transition duration-300 ease-in-out hover:text-white hover:bg-primary hover:border-primary"
          (click)="changeTab('All')"
          [ngClass]="{
            'text-primary bg-white': activeTab !== 'All',
            'text-white bg-primary': activeTab === 'All'
          }">{{ 'cards.taball' | translate }}</a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer border border-gray-200 shadow-md">
        <a
          class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal transition duration-300 ease-in-out hover:text-white hover:bg-primary hover:border-primary"
          (click)="changeTab('Credit')"
          [ngClass]="{
            'text-primary bg-white': activeTab !== 'Credit',
            'text-white bg-primary': activeTab === 'Credit'
          }">{{ 'cards.tabcredit' | translate }}</a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer border border-gray-200 shadow-md">
        <a
          class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal transition duration-300 ease-in-out hover:text-white hover:bg-primary hover:border-primary"
          (click)="changeTab('Debit')"
          [ngClass]="{
            'text-primary bg-white': activeTab !== 'Debit',
            'text-white bg-primary': activeTab === 'Debit'
          }">{{ 'cards.tabdebit' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
