<!-- component -->
<div class="flex h-screen w-screen">
  <!-- Left Pane -->
  <div
    class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 text-black"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/img/blp.png" alt="" />
    </div>
  </div>
  <!-- Right Pane -->
  <div class="w-full lg:w-1/2 flex items-center justify-center bg-white">
    <div class="max-w-md w-full p-6">
      <h1 class="text-4xl font-semibold text-black text-left">
        Forgot password ?
      </h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-400 text-justify">
        Enter your email below, you will recieve an email with instructions on
        how to reset your password in a few minutes. You can also set a new
        password if you've never set one before.
      </h1>
      <form class="space-y-6">
        <w-input
          formControlName="email"
          class="border-0 p-0"
          type="email"
          decription="Email"
          iconSrc="/assets/icons/email.svg"
        />
        <div>
          <button
            type="submit"
            class="w-full bg-blue-700 text-white p-4 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
          >
            Start Recovery
          </button>
        </div>
      </form>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>
          You don't have an account?
          <a
            href="#"
            class="text-black hover:underline"
            [routerLink]="['/register']"
            >Create an Account</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
