<div class="flex h-screen w-screen">
  <div
    class="hidden lg:flex items-center justify-center flex-1 bg-gradient-to-r from-blue-500 via-teal-300 to-indigo-500 text-black"
  >
    <div class="max-w-md text-center">
      <img src="../../../../assets/img/blp.png" alt="" />
    </div>
  </div>
  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center bg-white"
  >
    <div class="max-w-md w-full p-6">
      <h1 class="text-4xl font-semibold text-black text-left">
        Forgot Password ?
      </h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-400 text-justify">
        {{
          isMobileVerification
            ? "Enter your mobile number below. You will receive a verification code to reset your password in a few minutes. You can also set a new password if you ve never set one before."
            : "Enter your email below, you will receive an email with instructions on how to reset your password in a few minutes. You can also set a new password if you ve never set one before."
        }}
      </h1>
      <form [formGroup]="forgotPass" (ngSubmit)="onForgotPass()" class="space-y-6">
        @if (isMobileVerification) {
        <app-w-input controlKey="phone" inputType="onlyText" placeholder="Phone"></app-w-input>
        }@else {
        <app-w-input controlKey="email" inputType="email" placeholder="Email"></app-w-input>
        }
        <div>
          <div class="text-sm text-gray-600 text-center">
            <p>
              {{
                isMobileVerification
                  ? "Do you prefer to use mobile recovery ?"
                  : "Do you prefer to use email recovery ?"
              }}
              <a
                class="text-black hover:underline cursor-pointer"
                (click)="toggleMobileVerification()"
              >
                {{
                  isMobileVerification
                    ? "Use Email Verification"
                    : "Use Mobile verification"
                }}
              </a>
            </p>
          </div>
          <button
            type="submit"
            [disabled]="forgotPass.invalid"
            class="w-full mt-5 bg-blue-700 text-white p-4 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
          >
            Start Recovery
          </button>
        </div>
      </form>
    </div>
    <div class="mt-10 text-sm text-gray-600 text-center">
      <p>
        You don't have an account?
        <a
          href="#"
          class="text-black hover:underline"
          [routerLink]="['/register']"
          >Create an Account</a
        >
      </p>
    </div>
  </div>
</div>
