* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-form {
    height: 100vh
}

.login {
    align-items: center;
    width: 80%;
    height: 100%;
}

.size-inputs-form {
    width: 20rem;
    height: 4.8rem;
}

.button-login {
    width: 20rem;
    color: white;
    background: #425CFF;
    border-radius: 30px;
    border: 0;
    padding: 5px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    background: rgb(0, 234, 194);
    background: linear-gradient(160deg, rgba(0, 234, 194, 1) 0%, rgba(98, 0, 248, 1) 100%);
}

#imgPost {
    width: 420px;
    height: 460px;
    position: relative;
    right: 150px;
    top: 15%;
    border-radius: 1rem;
}

@media screen and (max-width:900px) {
    .display-form {
        width: 100%
    }

    .img {
        display: none
    }

    .login {
        width: 100%;
        justify-content: center
    }
}