<div class="row">
    <div class="display-form d-flex align-content-center justify-content-center flex-column col-6 order-md-2 ">
        <div class="login d-flex align-items-center flex-column m-auto" style="height: auto">

            <!-- <img ngSrc="../../assets/bancoP.png" class="mb-4" alt="Pesetalogo" width="255" height="67" /> -->
            <img src="{{ imgBancoP }}" alt="Pesetalogo" class="mb-4" width="100">

            <h2 style="color: #425CFF; font-weight: 700">¡BIENVENIDO!</h2>
            <p class="mb-4"></p>
            <form>
                <div>
                    <p>Usuario</p>
                    <div class="">
                        <input class="form-control p-2 mt-1" placeholder="Ingresa usuario" matInput
                            formControlName="email" />
                    </div>
                </div>
                <div class="mt-2">
                    <p>Contraseña</p>
                    <div class="size-inputs-form">
                        <div class="d-flex justify-content-end input-with-icon ">
                            <input id="pass" (keydown)="onKeyPress($event)" class=" form-control p-2 mt-1"
                                placeholder="Ingresa contraseña" matInput [type]="hide ? 'text' : 'password'"
                                formControlName="password" />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" type="button" style="position: relative;"
                                class="position-absolute d-flex align-content-end">
                                <!-- <mat-icon style="color: #22c55e">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" d-flex justify-content-end mb-3">
                    <a href="#" class="text-muted small" style="text-decoration: none">¿Olvidaste contraseña?</a>
                </div>

                <button class="button-login p-0">Acceder</button>

                <div class=" d-flex justify-content-left mt-3">
                    <a routerLink="/account-selection"
                        class="button-login p-0 bg-white text-primary text-decoration-none "
                        style="cursor: pointer;">Crear tu cuenta ahora</a>

                </div>

            </form>
            <p style="position: absolute; bottom: 20px ">
                © All rights reserved BANCO DE LA PESETA 2024
            </p>
        </div>
    </div>

    <div class="img col-6 ">
        <img src="{{ imgLogo3 }}" alt="" width="100%">
    </div>