<div class="py-8 text-dark">
  <div class="flex items-center gap-8">
    <div>
      <h2 class="text-3xl font-bold">
        {{ formatCurrency(totalAmount, currencySelect.value) }}
      </h2>
      <div class="flex items-center gap-x-2">
        <p>Total Balance for All Accounts</p>
        <select
          class="border border-gray-300 rounded-md shadow-sm"
          [formControl]="currencySelect"
          (change)="updateSelectedCurrency($event)">
          <option *ngFor="let rate of currencyRates | keyvalue" [value]="rate.key">
            {{ rate.key }}
          </option>
        </select>
      </div>
    </div>
    <div>
  
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
      </button>
    </div>
  </div>

</div>
