<div class="flex flex-col gap-y-6">
  <w-total-balance></w-total-balance>
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-6 ">
    <div class="w-full mt-6 mb-3 lg:mb-0">
      <app-balance-component></app-balance-component>
    </div>
    <div class="w-full mt-6 mb-3 lg:mb-0">
      <app-cards-component [rate]="currencyExchangeRate"></app-cards-component>
    </div>
    <div class="w-full mt-6 mb-3 lg:mb-0">
      <app-loans-component></app-loans-component>
    </div>
    <div class="w-full mt-6 mb-3 lg:mb-0">
      <app-tpv-component></app-tpv-component>
    </div>
  </div>
</div>
