<div class="flex flex-col">
  <div class="pb-8  text-dark">
    <h2 class="text-3xl font-bold ">$145.158,63</h2>
    <p>Total Balance for All Accounts <span>USD</span></p>
  </div>
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-3 ">
    <div class="w-full mb-3 lg:mb-0">
      <app-balance-component (currencyRate)="onRateSelected($event)"></app-balance-component>
    </div>
    <div class="w-full mb-3 lg:mb-0">
      <app-cards-component [rate]="currencyExchangeRate"></app-cards-component>
    </div>
    <div class="w-full mb-3 lg:mb-0">
      <loans-component></loans-component>
    </div>
    <div class="w-full mb-3 lg:mb-0">
      <tpv-component></tpv-component>
    </div>
  </div>
</div>
