<div class="flex flex-col gap-3">
  <h1>hola</h1>
  <div>
    <h1>----------------------</h1>
    @for (item of accountData; track $index) {
      <h1>{{item.contract.account.accountNumber}}</h1>
    }
    <h1>----------------------</h1>

  </div>
  <h1 class="text-3xl font-bold">$145.158,63</h1>
  <!-- <p>
    {{'HOME.TITLE' | translate}}
  </p>   -->
  <div class="border rounded-xl p-2 shadow flex flex-row md:h-16">

    <div class="hidden md:flex bg-gradient-to-r from-fuchsia-500 to-cyan-500 w-10 rounded-xl text-transparent">.</div>

    <div class="flex md:flex flex-wrap flex-row gap-2  md:gap-10 mx-3  w-full justify-between" >

      <div class="flex flex-col">
        <span class="font-bold">3210 **** **** 7841</span>
        <span class="text-sm text-gray-700">Account number</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">EUR</span>
        <span class="text-sm text-gray-700">Currency</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">88.200,00</span>
        <span class="text-sm text-gray-700">Account balance</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">1.200,00</span>
        <span class="text-sm text-gray-700">Ammount</span>
      </div>

      <div class="">
      <button class="middle w-full none center mr-4 rounded-lg bg-blue-100 py-3 px-6 font-sans text-xs font-bold uppercase text-blue-500">Active</button>
      </div>

    </div>

  </div>

  <div class="border rounded-xl p-2 shadow flex flex-row md:h-16">

    <div class="hidden md:flex bg-gradient-to-r from-teal-400 to-yellow-200 w-10 rounded-xl text-transparent">.</div>

    <div class="flex md:flex flex-wrap flex-row gap-2  md:gap-10 mx-3  w-full justify-between" >

      
      <div class="flex flex-col">
        <span class="font-bold">4710 **** **** 8492</span>
        <span class="text-sm text-gray-700">Account number</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">EUR</span>
        <span class="text-sm text-gray-700">Currency</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">71.060,20</span>
        <span class="text-sm text-gray-700">Account balance</span>
      </div>

      <div class="flex flex-col">
        <span class="font-bold">2.400,80</span>
        <span class="text-sm text-gray-700">Ammount</span>
      </div>

      <div class="">
      <button class="middle w-full none center mr-4 rounded-lg bg-blue-100 py-3 px-6 font-sans text-xs font-bold uppercase text-blue-500">Active</button>
      </div>

    </div>

  </div>
</div>