<div class="tw-h-[100vh] tw-flex row tw-justify-center tw-items-start">

  <div class="tw-flex tw-justify-center">
    <img src="../../assets/bancoP.png" width="100px" alt="">
  </div>
  
  <div class="main row col-md-4 col-10">
    <div class="text-center text-primary mb-2 mt-2">
        <h3>Create your personal account</h3>
    </div>
    <form>
        <div class="row mb-2">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form6Example1" class="form-control" placeholder="Name" />
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form6Example2" class="form-control" placeholder="Lastname" />
            </div>
          </div>
        </div>
      
        <div data-mdb-input-init class="form-outline mb-2">
          <input type="text" id="form6Example4" class="form-control" placeholder="Addres" />
        </div>
        <div class="row mb-2">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="city" class="form-control" placeholder="City"/>
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="country" class="form-control" placeholder="Country"/>
              </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="bithday" class="form-control" placeholder="Birthdate"/>
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="genero" class="form-control" placeholder="Gender"/>
              </div>
            </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-2">
          <input type="email" id="form6Example5" class="form-control" placeholder="Email"/>
        </div>
      
       
        <div data-mdb-input-init class="form-outline mb-2">
          <input type="number" id="form6Example6" class="form-control" placeholder="Phone"/>
        </div>
      
        <div class="form-check d-flex justify-content-center mb-2">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form6Example8"
            checked
          />
          <label class="form-check-label" for="form6Example8"> Create an account? </label>
        </div>
      
       <div class="d-flex justify-content-center">
        <button data-mdb-ripple-init type="button" routerLink="/account-verification" class="btn btn-primary btn-block mb-4">Create Account</button>
       </div>
       <div class="text-center text-secondary m-2 d-flex align-content-center align-items-center justify-content-center" style="cursor: pointer;" routerLink="/account-selection">
            <span>Back</span>
       </div>
      </form>
</div>
</div>