<div class="flex h-screen w-screen justify-center">
    <div class="max-w-screen-xl mx-auto">
        <div class="flex items-center flex-col align-middle">
            <header class="pt-4">
                <!-- FIXME: Add logo -->
            </header>

            <div class="flex mx-4 flex-col gap-2 items-center align-middle max-w-screen-[640px] mt-6 p-4 md:p-7 bg-white border border-gray-200 rounded-lg shadow">
                <h5 class="text-2xl sm:text-3xl font-medium mt-3">Verify your phone number</h5>
                <h6 class="text-gray-600 mt-4">Enter the code we sent to your phone number</h6>

                <form [formGroup]="verificationCodeForm" class="space-y-4" (ngSubmit)="onVerifyCode()">
                  <div class="max-w-80 mt-6 min-h-10 grid grid-cols-7 gap-2">
                      <!-- SMS icon -->
                      <ion-icon class="w-6 h-6 my-auto" src="./assets/icons/sms.svg" aria-hidden="true"></ion-icon>

                      @for (item of inputConfigs; track item.name){
                        <app-w-input [controlKey]="item.name" inputType="digitCode" (digitInput)="onDigitInput($index, $event)" label="Input 7" #inputRef ></app-w-input>
                      }
                  </div>

                  <button [disabled]="verificationCodeForm.invalid && !(verificationCodeForm.touched || verificationCodeForm.dirty)" type="submit" [ngClass]="{'hover:bg-blue-800 hover:cursor-pointer': !verificationCodeForm.invalid && (verificationCodeForm.touched || verificationCodeForm.dirty)}" class="flex text-center items-center bg-blue-600 cursor-auto text-white font-medium mb-6 py-2 px-4 rounded mt-6">
                      <span>Submit</span>
                      <ion-icon class="w-6 h-6 ms-2" aria-hidden="true" name="checkmark-outline"></ion-icon>
                  </button>

                  <p class="text-xs text-gray-600 mb-4">
                      Don't receive the code? <span class="font-bold">Wait 59 seconds to request a new code</span>
                  </p>
                </form>

            </div>

            <footer class="pt-2 mt-6 w-full">
                <span class="flex justify-center border-b border-gray-200 pb-3"></span>
                <p class="mt-3 text-center text-gray-600">© 2024 Banco de la peseta.</p>
            </footer>
        </div>
    </div>
</div>
