<div class="flex h-full min-h-screen">
  <div
    class="bg-primary w-72 relative duration-300"
    [ngClass]="{ 'w-20': !isSidebarOpen, 'w-72 ': isSidebarOpen }"
  >
    <ion-icon
      name="arrow-back-outline"
      class="bg-white text-black text-3xl rounded-full absolute -right-3 top-9 border border-blue-950 cursor-pointer"
      [ngClass]="{ 'rotate-180': !isSidebarOpen, '': isSidebarOpen }"
      (click)="toggleSidebar()"
    ></ion-icon>
    <div
      class="flex justify-center flex-col bg-primary-dark pt-4 pl-5 pb-4"
    >
      <img
        src="/assets/images/sidebar/banco_blanco.png"
        width="150"
        class="{{ !isSidebarOpen ? 'hidden' : '' }}"
      />
      <img
        src="/assets/images/sidebar/banco_icon.png"
        width="40"
        class="{{ !isSidebarOpen ? 'visible pl-2' : 'hidden' }}"
      />
    </div>

    <div class="flex items-center pt-4 pb-4">
      <div
        id="nav"
        class="w-full flex flex-col gap-5 py-5"
        [ngClass]="{ 'px-0': !isSidebarOpen, '': isSidebarOpen }"
      >
        <div *ngFor="let enlace of routerList">
          <w-nav-link
            [routerLink]="[enlace.ruta]"
            [nombreRuta]="enlace.nombreRuta"
            [iconFileName]="enlace.iconFileName"
            [isSidebarOpen]="isSidebarOpen"
            [iconWhiteName]="enlace.iconWhiteName"
            (click)="enviarTitulo(enlace.nombreRuta)"
            [iconFinalName]="enlace.iconFinalName"
          >
          </w-nav-link>
        </div>
      </div>
    </div>
  </div>
</div>
