<div class="hidden lg:flex w-full h-full min-h-dvh animate-fade-right">
  <div
    class="bg-primary w-72 relative duration-300 h-full"
    [ngClass]="{ 'w-20 animate-fade': !isSidebarOpen, 'w-72 animate-fade': isSidebarOpen }"
  >
    <div
      class="hidden lg:flex justify-center flex-col bg-primary-dark pt-4 pl-5 pb-4"
    >
      <img
        loading="lazy"
        src="/assets/images/sidebar/banco_blanco.png"
        width="150"
        class="{{ !isSidebarOpen ? 'hidden' : '' }}"
      />
      <img
        loading="lazy"
        src="/assets/images/logos/logoBancoWhite.svg"
        width="40"
        class="{{ !isSidebarOpen ? 'visible pl-2' : 'hidden' }}"
      />
    </div>

    <div class="flex items-center">
      <div
        id="nav"
        class="w-full flex flex-col py-0"
        [ngClass]="{ 'px-0': !isSidebarOpen, '': isSidebarOpen }"
      >
        <div *ngFor="let enlace of routerList">
          <ng-container *ngIf="enlace.iconFileName">
            <w-nav-link
              [routerLink]="[enlace.ruta]"
              [nombreRuta]="enlace.nombreRuta"
              [iconFileName]="enlace.iconFileName"
              [isSidebarOpen]="isSidebarOpen"
              [iconWhiteName]="enlace.iconWhiteName"
              (click)="enviarTitulo(enlace.nombreRuta)"
              [iconFinalName]="enlace.iconFinalName"
            >
            </w-nav-link>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lg:hidden flex w-full h-full min-h-dvh animate-fade-right" *ngIf="isSidebarOpen">
  <div
    class="bg-primary w-56 duration-300 h-full"
    [ngClass]="{ 'w-0': !isSidebarOpen, 'w-56': isSidebarOpen }"
  >
  <div class="flex gap-x-2 p-4 items-center justify-center">
    <img
    loading="lazy"
    src="/assets/images/sidebar/banco_blanco.png"
    width="100"
    class="m-auto "
  />

  </div>

    <div class="flex items-center">
      <div
        id="nav"
        class="w-full flex flex-col gap-y-4"
      >
      <div *ngFor="let enlace of routerList">
        <ng-container *ngIf="enlace.iconFileName">
          <w-nav-link
            [routerLink]="[enlace.ruta]"
            [nombreRuta]="enlace.nombreRuta"
            [iconFileName]="enlace.iconFileName"
            [isSidebarOpen]="isSidebarOpen"
            [iconWhiteName]="enlace.iconWhiteName"
            (click)="enviarTitulo(enlace.nombreRuta); cerrarSidebar()"
            [iconFinalName]="enlace.iconFinalName"
          >
          </w-nav-link>
        </ng-container>
      </div>
      </div>
    </div>
  </div>
</div>
